.DS_Store
VPPImageCachingExample.xcodeproj/xcuserdata/
VPPImageCachingExample.xcodeproj/project.xcworkspace/xcuserdata/
build/
VPPImageCachingExample.xcodeproj/*.mode1v3
VPPImageCachingExample.xcodeproj/*.pbxuser

